.form {
  margin: 1.2rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.tags_checkbox {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  justify-content: space-between;
  gap: 1rem;
}
.input_title {
  margin-right: 1.2rem;
  font-size: 0.8rem;
}

.form > h3 {
  flex-basis: 100%;
  text-align: center;
}

.add_btn,
.delete_btn {
  margin: 1rem;
  color: rgb(245, 245, 245);
  width: 100px;
  border-radius: 0.5rem;
}
.add_btn {
  background-color: #2c2c34;
  font-weight: 500;
}
